.link {
  font-size: clamp(0.8125rem, 0.7321rem + 0.3571vw, 1rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.share,
.copy,
.message {
  font-size: var(--size-dialog-heading);
}
